<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/Untitled.png" alt="foto-ringin" class="img-thumbnail rounded-circle" width="200px"> <!--file img dihapus-->
            <h1 class="display-4">Ringin Restu Pati</h1>
            <p class="lead">Software Enginer</p>
        </div>
    </div>
</div>